[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "cloudmesh-ai-{name}"
dynamic = ["version"]
description = "Command {name} created by CMC"
license = {{text = "Apache-2.0"}}
dependencies = [
    "click",
    "rich",
]

[project.entry-points."cloudmesh.ai.command"]
{name} = "command.{name}:register"

[tool.setuptools.dynamic]
version = {{file = ["VERSION"]}}

[tool.setuptools.packages.find]
where = ["src"]
include = ["command*"]
